.loginForm {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loginInput {
  width: 100%;
  height: var(--input-height);
  padding: 15px;
  border: 1px solid var(--input-border);
  font-size: var(--input-fontSize);
  /* margin-bottom: 10px; */
}
.loginInput:focus {
  outline: 1px solid var(--main);
}

.loginInput:nth-child(2) {
  margin-bottom: 45px;
}

/* 아이디 찾기/비밀번호 찾기 */
#findIdPasswordWrap {
  margin: 10px 0 20px 0;
  display: flex;
}
#findIdPasswordWrap > div {
  width: 50%;
  text-align: center;
  cursor: pointer;
}
#findIdPasswordWrap > div > img {
  margin-left: 10px;
}

/* 회원가입 */
.loginForm > div:last-child {
  text-align: center;
}
.loginForm > div:last-child span {
  color: var(--main);
  font-weight: bold;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .loginForm {
    width: 100%;
    /* padding: 0 20px; */
  }
}