.sliderWrap > img {
  width: 40px;
  height: 40px;
  right: -75px;
}

/* 이전 버튼 */
.sliderWrap > img:first-child {
  transform: translate(0, -50%) rotate(180deg);
  left: -75px;
  right: auto;
}

/* 카드 너비 설정 */
.sliderWrap > div > div > div {
  max-width: calc(var(--carousel-max-width) / 4) !important;
  width: calc(var(--carousel-width) / 4) !important;
  /* max-height: calc(var(--device-width-ml) / 4) !important;
  height: calc(85vw / 4) !important; */
}

.sliderWrap > div > div > div > div {
  max-width: calc(var(--carousel-max-width) / 4) !important;
  width: calc(var(--carousel-width) / 4) !important;
  /* max-height: calc(var(--device-width-ml) / 4) !important;
  height: calc(85vw / 4) !important; */
  padding: 20px;
}