/* 메뉴 */
#menuWrap {
  padding: 0 20px 40px 20px;
}

#tileWrap {
  max-width: var(--resvForm-max-width);
  width: var(--resvForm-width);
}
/* 데스크탑 모드에서 더보기 삭제 */
#tileWrap+div {
  display: none;
}

#tile {
  max-width: calc((var(--resvForm-max-width) - 30px) / 4);
  width: calc((var(--resvForm-width) - 30px) / 4);
  max-height: calc((var(--resvForm-max-width) - 30px) / 4);
  height: calc((var(--resvForm-width) - 30px) / 4);
}

/* 후기 */
#reviewWrap {
  width: 100%;
  background-color: var(--bg2);
  padding-bottom: 60px;
}

#reviewCardWrap {
  max-width: 800px;
  width: 75%;
}

@media screen and (max-width: 768px) {
  #contentWrap {
    gap: 0;
  }

  #tileWrap {
    max-width: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* 메뉴 */
  #tileWrap.menuTileWrap {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    
    /* 스크롤 가능 */
    /* overflow: auto;
    white-space: nowrap;  */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    /* position: absolute; */
  }
  #menuForegroud {
    max-width: 100%;
    width: 100%;
    height: calc((100vw - 50px) * 0.75);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.25) 70%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 0.75) 90%,
      rgba(255, 255, 255, 1) 100%
    );
    /* background-color: black; */
    position: absolute;
    z-index: 96;
  }
  #tileWrap+div {
    display: block;
  }

  #tile {
    max-width: 100%;
    width: 100%;
    max-height: calc((100vw - 40px) * 0.6);
    height: calc((100vw - 40px) * 0.6);
  }
  #tile.menuTile {
    max-width: 100%;
    width: 100%;
    max-height: calc((100vw - 50px) * 0.5);
    height: calc((100vw - 50px) * 0.5);
  }

  /* 후기 */
  #reviewCardWrap {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    gap: 20px;
  }
  

  .open {
    height: auto;
  }

  .close {
    max-height: calc((100vw - 50px) * 0.75);
  }
}