:root {
  --main: #C30E2D;

  /* bg */
  --bg: #f9fafc;
  --bg2: #f8f9fb;
  --input-bg: #f9f9f9;

  /* border */
  --input-border: #ccc;
  --header-border: #aeaeae;
  /* --devide-border: #e5e7ea; */
  --border: #ebebeb;

  /* font */
  --font: #333;
  --topMenu-font: #555555;
  --description: #999;
  
  /* scrollbar */
  --scrollbar: #ddd;



  


  --black: #222222;
  --yellow: #f9bb00;
  --gray: #9e9e9e;
  --gray-150: #f3f5f7;
  --red: #ca3232;

  --price: #f95a00;


  --footer-bg: #f4f4f4;

}