:root {
  --main: #C30E2D;

  /* bg */
  --bg: #f9fafc;
  --bg2: #f8f9fb;
  --input-bg: #f9f9f9;

  /* border */
  --input-border: #ccc;
  --devider: #aeaeae;

  /* font */
  --font: #333;
  --topMenu-font: #555555;
  


  --black: #222222;
  --yellow: #f9bb00;
  --gray: #9e9e9e;
  --gray-150: #f3f5f7;
  --red: #ca3232;

  --border: #ebebeb;
  --price: #f95a00;

  --description: #999;

  --footer-bg: #f4f4f4;

  --scrollbar: #ddd;
}