/* 태그 */
* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: var(--bg); */
}

body {
  height: calc(100% - var(--header-height));
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
  height: 10px; /* 스크롤바의 길이 */
  background: var(--scrollbar); /* 스크롤바의 색상 */
  border-radius: 10px;
}

#root {
  height: 100%;
  margin-top: var(--header-height);
  color: var(--font);
}

header {
  width: 100vw;
  height: var(--header-height);
  background-color: white;
  /* background: rgba(255, 255, 255, 0.85); */
  /* opacity: 0.5; */
  /* backdrop-filter: blur(10px); */
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  transition: 0.5s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font);
}

/* input:focus {
  outline: 1px solid var(--main);
} */

/* input {
  box-sizing: border-box;
} */

select {
  width: 200px;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid var(--input-border);
  /* border-radius: 10px; */
  font-size: var(--input-fontSize);
  outline: none;
}
.select:focus {
  border-bottom: 1px solid var(--main);
}

label {
  margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
  overflow: hidden; /* 너비를 초과하는 부분을 숨김 */
  text-overflow: ellipsis; /* 너비를 초과하는 부분을 "..."으로 표시 */
  margin: 0;
}

p {
  word-wrap: break-word; /* 긴 단어를 줄바꿈할 때 단어 내에서 줄바꿈 처리 */
  overflow-wrap: break-word; /* word-wrap의 대체 속성 */
}

/* 클래스 */
.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px 20px 60px 20px;
}

.background {
  background-color: var(--bg2);
}

/* .list-2c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 20px;
} */


@media screen and (max-width: 768px) {
  #root {
    margin-top: var(--mob-header-height);
  }
  
  header {
    height: var(--mob-header-height);
  }

  .container {
    width: 100vw;
    min-height: calc(100vh - var(--mob-header-height));
  }
}