.center {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid-2c {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}

.flex-col {  
  flex-direction: column;
}
.flex-row {  
  flex-direction: row;
}

.flex-basis-100 {
  flex-basis: 100px;
}

.flex-gap-10 {
  gap: 10px;
}
.flex-gap-20 {
  gap: 20px;
}
.flex-gap-45 {
  gap: 45px;
}
.flex-gap-75 {
  gap: 75px;
}


@media screen and (max-width: 768px) {
  .grid-2c {
    grid-template-columns: repeat(1, 1fr);
  }
}