#resvInfoWrap {
  width: 100%;
  height: fit-content; /* 높이 내용에 맞게 */
  /* padding: 20px; */
  grid-row-start: 1;
  grid-row-end: 3;
}

/* 상단 */
#topWrap {
  width: 100%;
  align-items: center;
}
#topWrap > div:first-child {
  font-size: var(--title-fontSize);
}

/* 중간 */
#middleWrap > p > span {
  color: var(--description);
  margin-right: 16px;
}

/* 하단 */
#bottomWrap {
  display: flex;
  gap: 10px;
}
/* 버튼 */
#bottomWrap button {
  width: var(--button-width-s);
  height: var(--button-height-s);
  font-size: var(--button-fontSize-s);
  line-height: 38px; /* 경계값 만큼 빼주어야 << 버튼이 border-box이다 */
}


@media screen and (max-width: 768px) {
  #resvInfoWrap {
    grid-row-end: 2;
  }

  #bottomWrap > button {
    width: calc((100% - 20px) / 3);
  }
}