.pagination {
  list-style: none;
  margin: 0;
  padding-top: 48px;
  /* padding-top: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination > li {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  /* font-weight: 400; */
}

.pagination > li:first-child, .pagination > li:last-child {
  display: none;
}

.pagination > li:nth-child(2), .pagination > li:nth-last-child(2) {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* 이전 */
.pagination > li:nth-child(n+2):nth-child(-n+2) {
  background-image: url('../../images/icons/next_999.png');
  transform: scaleX(-1);
  cursor: pointer;
}
.pagination > li:nth-child(n+2):nth-child(-n+2):active {
  background-image: url('../../images/icons/nextActive.png');
  transform: scaleX(-1);
}

/* 다음 */
.pagination > li:nth-last-child(2) {
  background-image: url('../../images/icons/next_999.png');
  cursor: pointer;
}
.pagination > li:nth-last-child(2):active {
  background-image: url('../../images/icons/nextActive.png');
}

.pagination > li a {
  text-decoration: none;
  color: var(--description);
}

.pagination > li.active a { /* 눌려져 있을 때 */
  color: var(--main);
  font-weight: bold;
}

.pagination > li a:hover, .pagination > a.active {
  color: var(--main);
}


@media screen and (max-width: 768px) {
  .pagination {
    padding-bottom: 24px;
  }
}