#resvCardWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 상단 */
#topWrap {
  width: 100%;
  align-items: center;
}
#topWrap > div:first-child {
  font-size: 22px;
}

/* 하단 */
#bottomWrap > p > span {
  color: var(--description);
  margin-right: 20px;
}