.modalWrap {
  width: 420px !important;
}

.wide {
  width: 500px !important;
}

/* 모달 */
.modalWrap > div:nth-child(2) {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* x 버튼 삭제 */
.modalWrap > div:nth-child(2) > button {
  display: none;
}

/* 모달 헤더 */
.modalWrap > div:nth-child(2) > div:nth-child(2) {
  margin: 50px 0 80px 0;
}
.modalWrap > div:nth-child(2) > div:nth-child(2) > div {
  font-size: var(--title-fontSize);
  font-weight: 500;
}


/* 모달 본문 */
.modalWrap > div:nth-child(2) > div:nth-child(3) {
  width: 100%;
}

/* 후기 등록 */
#addReviewForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* 후기 제목 */
#reviewTitle {
  width: 100%;
  height: var(--input-height);
  padding: 15px 0 ;
  border: 0;
  border-bottom: 1px solid var(--input-border);
  font-size: var(--input-fontSize);
}
#reviewTitle:focus {
  outline: none;
  /* border-bottom: 1px solid var(--main); */
}
/* 후기 내용 */
#reviewContent {
  width: 100%;
  /* padding: 0 0 15px 0; */
  padding: 0;
  /* border: 1px solid var(--input-border); */
  border: 0;
  /* border-radius: 10px; */
  font-size: var(--input-fontSize);
  /* margin-bottom: 10px; */
  resize: none;
}
#reviewContent:focus {
  outline: none;
  /* outline: 1px solid var(--main); */
}

/* 충전 */
#chargeForm {
  width: 100%;
}
#chargeForm span {
  height: var(--input-height);
  line-height: var(--input-height);
  font-size: var(--input-fontSize);
  margin: 0 0 0 10px;
}

/* 환불 안내 */
#refundInfoWrap {
  /* width: 100%; */
  width: fit-content;
  margin: 0 auto;
  font-size: var(--input-fontSize);
}
#refundInfoWrap > p {
  width: fit-content;
}
#refundInfoWrap > p:first-child, #refundInfoWrap > p:last-child {
  margin: 0;
}
#refundInfoWrap span {
  color: var(--description);
  margin-right: 16px;
}

/* 예약금 결제 */
#payInfoWrap {
  width: 100%;
  font-size: var(--input-fontSize);
}
/* 예약 정보 */
#payInfoWrap > p:first-child {
  margin: 0;
  text-align: center;
}
#payInfoWrap > p:first-child > span:nth-child(2) {
  border-right: 1px solid var(--input-border);
  border-left: 1px solid var(--input-border);
}
/* 결제 정보 */
#payInfo {
  width: fit-content;
  margin: 0 auto;
}
#payInfo p {
  margin: 8px 0;
}
#payInfo p > span {
  color: var(--description);
  margin-right: 16px;
}
/* 포인트 */
#pointWrap input {
  width: var(--button-width-s);
  height: var(--button-height-s);
  padding: 5px 0 ;
  border: 0;
  border-bottom: 1px solid var(--input-border);
  font-size: var(--input-fontSize);
}
#pointWrap input:focus {
  border-bottom: 1px solid var(--main);
}

/* 모달 푸터(기존 버튼) */
.modalWrap > div:nth-child(2) > div:nth-child(4) {
  display: none;
}

/* 버튼 */
#buttonWrap {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#buttonWrap > button {
  width: var(--button-width-s);
  height: var(--button-height-s);
  font-size: var(--button-fontSize-s);
  /* line-height: 38px; /* 경계값 만큼 빼주어야 << 버튼이 border-box이다 */
}

/* Confirm */
.confirmBtn {
  width: var(--button-width-xs);
  height: var(--button-height-xs);
  font-size: var(--button-fontSize-xs);
}


@media screen and (max-width: 768px) {

}