.react-calendar {
    /* max-width: var(--calendar-max-width); */
    width: 100%;
    height: 300px;
    /* max-height: var(--calendar-max-width);
    height: var(--calendar-width); */
    background: white;
    /* border: 1px solid #a0a096; */
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 1.125em;
    justify-content: center; 
    align-items: center;
  }
  
  .react-calendar--doubleView {
    width: 400x;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    margin-bottom: 35px;

  }
  .react-calendar__navigation span {
    font-size: 15px;
    font-weight: bold;
  }
  
  .react-calendar__navigation button {
    width: 50px;
    font-size: var(--input-fontSize);
    background: none;
  }
  
  /* .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  } */
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    text-decoration: none;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4rem;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #757575;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    /* padding: 10px; */
    background: none;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
  }
  
  .react-calendar__month-view__days__day.react-calendar__tile {
    /* max-height: calc(var(--calendar-max-width) / 7); */
    /* height: calc(var(--calendar-width) / 7); */
    height: calc(300px / 7);
    /* line-height: calc(var(--calendar-width) / 7); */
    border-radius: 50%;
  }
  
  .react-calendar__tile:disabled {
    color: #f0f0f0;
  }
  
  /* .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  } */
  
  .react-calendar__tile--now {
    color: var(--main);
  }
  
  /* .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    color: #ffffa9;
  } */
  
  .react-calendar__tile--hasActive {
    background: var(--main);
  }
  
  /* .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  } */
  
  .react-calendar__tile--active {
    background:  #e34343;
    color: white;
  }
  
  /* .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: var(--main);
  } */
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  
  
  @media screen and (max-width: 768px) {
    .react-calendar {
      max-width: calc(100vw - 100px);
      width: 100%;
      max-height: auto;
      height: auto; 
      padding-top: 45px;
    }

    .react-calendar__navigation span {
      font-size: 13px;
    }
    
    .react-calendar__month-view__days__day.react-calendar__tile {
      max-height: calc((100vw - 70px) / 7);
      height: calc((100vw - 70px) / 7);
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 1400px) {
    .react-calendar {
      /* max-width: calc(100vw - 200px);
      width: 100%;
      max-height: auto;
      height: auto;  */
    }

    .react-calendar__navigation span {
      font-size: 12px;
    }

    .react-calendar__month-view__weekdays {
      text-decoration: none;
    }
  
    
    /* .react-calendar__month-view__days__day.react-calendar__tile {
      max-height: calc((100vw - 30px) / 7);
      height: calc((100vw - 30px) / 7);
      border-radius: 50%;
    } */
  }
